body
{
    background-color: #08F6FF;
}
.center {
    text-align: center;
}
.weatherForm   {
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px; 
}

.map {
    height: 450px;
    width: 80%;
    border-style: solid;
    border-color: black;
    padding: 0px;
    margin: 0 auto;
}  
